
/* Custom CSS for things we can't do with boot strap */

@font-face {
	font-family: "Raleway";
	src: url("../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
	font-family: "RalewayExtraBold";
	src: url("../fonts/raleway/Raleway-ExtraBold.ttf");
}

body {
	background-color: #EEE;
}

#header {
	height: 180px;
	width: 100%;
}

#logoText {
	font-family: 'Raleway', sans-serif;
	font-size: 56pt;
	font-color: #444;
	vertical-align: bottom;
	display: inline;
	padding-left: .25em;
}

#logoImg {
	min-height: 100%;
}

#navbar {
	height: 50px;
}

#transaction, #account, #schoolName {
	font-family: 'Raleway', sans-serif;
	font-size: 24pt;
	font-color: #000;
	padding: 5px 0px;
}

#schoolName {
	float: left;
}

#account {
	float: right;
}

#transaction {
	float: left;
	margin-left: 40%;
}

.page-header, #header {
	border-bottom: 1px solid #CCC;
}

#header {
	padding-bottom: 9px;
}

#searchBar {
	height: 40px;
	background-color: #CCC;
	display: block;
	font-size: 16pt;
	margin-bottom: 16px;
}